body {
    font-family:Roboto;
    background-color: #83A9F5;
    color: #EBA710;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Almendra SC";
    font-size: 50pt;
    text-align: Center;
    
}
h1 {
    font-size: 40pt;

}

header {
    text-align: center;
}

#hero, footer {
    color: #343B4A;
    border: 3px solid #6B5B36;
    background-color: #AD7C0E;
    text-align: center;
    padding: 10px;

}

/*Hero Section*/

#hero img {
    width: 400px
}

/*Bio Section*/

#bio {
    text-align: center;
}

/*Hobbies Section*/

#hobbies ul li {
    list-style-type: none;
    text-decoration: none;
}

/*Gallery Section*/

#gallery {
    
    border: 2px solid #6B5B36;
}

#gallery img {

    max-width: 100%;

}

#gallery figure {

    text-align: center;


}